$headAndFooterColor : #373c44;
$briefColor: #626262;
$worksBack: #f2f2f2;
$servicesBack: #aeaeae;
$largeTextMaxWidth: 1080px;
$subscribeBackColor: #2a63c1;

$tabletsWidth: 800px;
$phonesWidth: 450px;
